APP_SECRET=SomeRandomString
APP_URL=http://localhost:3000
PORT=3000

# Where is this running? (either 'local', 'dev', 'qa', or 'production'):
APP_ENV=local

# Where is this querying? (either 'local', 'dev', 'qa', or 'production')
QUERY_ENV=qa

LOCAL_NORTHSTAR_AUTH_ID=oauth-test-client
LOCAL_NORTHSTAR_AUTH_SECRET=secret1

DEV_NORTHSTAR_AUTH_ID=
DEV_NORTHSTAR_AUTH_SECRET=

QA_NORTHSTAR_AUTH_ID=
QA_NORTHSTAR_AUTH_SECRET=

PRODUCTION_NORTHSTAR_AUTH_ID=
PRODUCTION_NORTHSTAR_AUTH_SECRET=

# TODO: Remove these once Gambit API requests require Northstar authentication. 
QA_GAMBIT_CONTENT_API_KEY=
QA_GAMBIT_CONVERSATIONS_USER=
QA_GAMBIT_CONVERSATIONS_PASS=
PRODUCTION_GAMBIT_CONTENT_API_KEY=
PRODUCTION_GAMBIT_CONVERSATIONS_USER=
PRODUCTION_GAMBIT_CONVERSATIONS_PASS=

# Apollo Engine
APOLLO_ENGINE_API_KEY=
