/* GraphQL Hero */
.graphql-header {
  background-image: url('/assets/cartographer_2x.jpg');
  background-size: 500px 499px;
  background-repeat: repeat;
}

/* Bordered button style. */
.button.-bordered {
  background: transparent;
  border: 2px solid #fff;
  margin-top: 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
}

.button.-bordered:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* Fill Page */
.fill-vh {
  height: 100vh !important;
}

/* Flexbox utility classes */
.flex {
  display: flex;
  flex-direction: column;
}

.flex__cell {
  width: 100%;
  flex: 0;
}

.flex__fill {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: stretch;
  flex-direction: column;
}

/* GraphiQL frame */
.graphiql {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
}

/* Images in documentation */
.markdown-docs img {
  width: 80%;
  margin: 48px auto;
}

/* environment ribbon */
.environment {
  display: block;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background: #000;
  color: #fff;
  transform: rotate(-45deg)
}

.environment span {
  display: block;
  position: relative;
  top: 85%;
  font-size: 12px;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  transform: translateY(-50%);
}

.chrome > .wrapper {
  overflow: hidden !important;
}

.environment-local {
  background: #fcd116;
  color: #000;
}

.environment-preview {
  background: #23b7fb;
}
