{{#> html navigationClass="-white -floating" }}
  <div class="chrome">
    <div class="wrapper">
      {{> navigation }}
      <header role="banner" class="header -centered">
        <div class="wrapper">
          <h1 class="header__title">DoSomething.org GraphQL</h1>
          <p class="header__subtitle"><a class="button -secondary -bordered" href="/graphiql">Try
              it out</a></p>
        </div>
      </header>

      <div class="container">
        <div class="wrapper">
          <div class="container__block -narrow">
            <h1>Easily query any DoSomething.org service.</h1>
            <p><strong> Get <em>exactly</em> what you need from <em>any</em>
                DoSomething.org service, efficiently.</strong> GraphQL provides
              a universal schema for all the data in DoSomething.org services.
              It allows applications to fetch only the fields they need &amp;
              abstracts away service boundaries.</p>

            <h2>Supported APIs</h2>
            <ul class="list -compacted">
              <li>Northstar</li>
              <li>Rogue</li>
            </ul>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br /> <!-- >:D -->
          </div>
        </div>
      </div>
    </div>
  </div>
{{/html}}
