{{#> html navigationClass="-white -floating" }}
  <div class="chrome">
    <div class="wrapper">
      {{> navigation }}
      <header role="banner" class="header fill-vh -centered graphql-header">
        <div class="wrapper">
          <h1 class="header__title">DoSomething.org GraphQL</h1>
          <p class="header__subtitle">Get <em>exactly</em> what you need from
            <em>any</em> DoSomething.org service, efficiently.</p>
          <p class="header__subtitle"><a class="button -secondary -bordered"
              href="/explore">Try it out</a></p>
        </div>
      </header>
    </div>
  </div>
{{/html}}
