<!doctype html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>DoSomething.org GraphQL</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/@dosomething/forge/dist/forge.css" />
    <link type="text/css" rel="stylesheet" href="/app.css" />
  </head>
  <body>
      {{> @partial-block }}

      <script type="text/javascript" src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/@dosomething/forge/dist/forge.js"></script>
  </body>
</html>
