<!doctype html>
<html>
  <head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

    <title>DoSomething.org GraphQL</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/assets/apple-touch-icon-precomposed.png">
    <link type="text/css" rel="stylesheet" href="https://unpkg.com/@dosomething/forge/dist/forge.css" />
    <link type="text/css" rel="stylesheet" href="/app.css" />

    <link href="//unpkg.com/graphiql@0.11.11/graphiql.css" rel="stylesheet" />
    <script src="//unpkg.com/react@15.6.1/dist/react.min.js"></script>
    <script src="//unpkg.com/react-dom@15.6.1/dist/react-dom.min.js"></script>
    <script src="//unpkg.com/graphiql@0.11.11/graphiql.min.js"></script>
  </head>
  <body>
      {{> @partial-block }}

      <script type="text/javascript" src="https://unpkg.com/environment-badge@^1.0.2/dist/bundle.js"></script>
  </body>
</html>
