<html>
  <head>
    <title>DoSomething.org GraphQL</title>
    <link rel="stylesheet" href="https://unpkg.com/@dosomething/forge/dist/forge.css" />
    <link rel="stylesheet" href="/app.css" />
  </head>
  <body>
      {{> @partial-block }}

      <script type="text/javascript" src="https://unpkg.com/jquery/dist/jquery.min.js"></script>
      <script type="text/javascript" src="https://unpkg.com/@dosomething/forge/dist/forge.js"></script>
  </body>
</html>
