<nav class="navigation {{ navigationClass }}">
  <a class="navigation__logo" href="/"><span>DoSomething.org</span></a>
  <a class="navigation__toggle js-navigation-toggle" href="#"><span>Show Menu</span></a>
  <div class="navigation__menu">
    <ul class="navigation__primary">
      <li>
        <a href="/explore">
          <strong class="navigation__title">Explore GraphQL</strong>
          <span class="navigation__subtitle">Interactive Demo</span>
        </a>
      </li>
      <li>
        <a href="/docs">
          <strong class="navigation__title">Documentation</strong>
          <span class="navigation__subtitle">Usage, services, etc.</span>
        </a>
      </li>
    </ul>
    <ul class="navigation__secondary">
      <li>
        {{#if user}}
          <li class="navigation__dropdown">
            <a href="#" class="navigation__dropdown-toggle">{{ user.name }}</a>
            <ul>
              <li><a href="/auth/logout">Log Out</a></li>
            </ul>
          </li>
          {{ else }}
          <li><a href="/auth/login">Log In</a></li>
        {{/if}}
      </li>
    </ul>
  </div>
</nav>
